doctype html
html.h-100(lang="en")
  head
    title= Title
    // script(src=assetPath('main.css'))
    script.
      var gon = !{JSON.stringify(gon)};
  body.wrap-chat
    nav.nav
      a.nav__link(href="/") Chat
    #chat.chat
      // block content
    script(src=assetPath('main.js'))
