* {box-sizing: border-box;}

html {
    font-size: 16px;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}

input, textarea {
    -webkit-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &:focus {
        outline: 0;
    }
}

select {
    &:focus {
        outline: 0;
    }
}

ol, ul {
    padding: 0;
    margin: 0;
}

p {margin: 0; padding: 0;}

.wrap-chat {
    display: flex;
    flex-direction: column;
    background-color: #4a154b;
}

.nav {
    border-bottom: 1px solid #ffffff;
    padding: 10px 20px;

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 500;
    }
}

.chat {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    &__aside {
        width: 300px;
        flex-shrink: 0;
        padding: 15px 0;
        color: #fff;
    }

    &__message {
        width: 100%;
        background-color: #ffffff;
    }
}

.channel {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 20px;

    &__button {
        width: 25px;
        height: 25px;
        font-size: 24px;
        line-height: 24px;
        color: #ffffff;
        border: 0;
        border-radius: 3px;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        transition: background ease 0.3s;

        &:hover {
            background-color: lighten(#4a154b, 8%);
        }
    }
}

.channels {
    list-style-type: none;

    &__button {
        width: 100%;
        font-size: 18px;
        line-height: 20px;
        color: #ffffff;
        text-align: left;
        font-weight: 700;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        padding: 10px 20px;

        &:hover {
            background-color: darken(#4a154b, 2%);
        }

        span {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 10px;
            opacity: 0.7;
        }
    }
}